[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=HyperType
GenericName=Typing Tutor
Icon=bogus.xpm
Exec=hypertype
TryExec=hypertype
Terminal=false
Categories=Education
StartupNotify=false
